extends layout/main-layout.pug
block content
 main
      div.d-flex.justify-content-center
        form(action="/productdetail", method="POST")
          input(type="text", name="title")
          button(type="submit") Add product 
 